In [92]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [93]:
df = pd.read_csv(r"E:\My PROJECTSS\census+income\adult.data")

In [94]:
df

,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32555,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32556,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32557,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32558,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32559,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [95]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32560 entries, 0 to 32559
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   39              32560 non-null  int64
 1    State-gov      32560 non-null  object
 2    77516          32560 non-null  int64
 3    Bachelors      32560 non-null  object
 4    13             32560 non-null  int64
 5    Never-married  32560 non-null  object
 6    Adm-clerical   32560 non-null  object
 7    Not-in-family  32560 non-null  object
 8    White          32560 non-null  object
 9    Male           32560 non-null  object
 10   2174           32560 non-null  int64
 11   0              32560 non-null  int64
 12   40             32560 non-null  int64
 13   United-States  32560 non-null  object
 14   <=50K          32560 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [96]:
df.columns = [
    'age', 'workclass', 'fnlwgt', 'education', 'education_num',
    'marital_status', 'occupation', 'relationship', 'race',
    'sex', 'capital_gain', 'capital_loss', 'hours_per_week',
    'native_country', 'income'
]

df.reset_index(drop=True, inplace=True)    #It resets the index of your DataFrame back to the default (0, 1, 2, ...). This is useful after filtering rows or dropping data, where the row numbers (index) might be out of order.

In [97]:
df = df.map(lambda x: x.strip().title() if isinstance(x, str) else x)

In [98]:
df

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,50,Self-Emp-Not-Inc,83311,Bachelors,13,Married-Civ-Spouse,Exec-Managerial,Husband,White,Male,0,0,13,United-States,<=50K
1,38,Private,215646,Hs-Grad,9,Divorced,Handlers-Cleaners,Not-In-Family,White,Male,0,0,40,United-States,<=50K
2,53,Private,234721,11Th,7,Married-Civ-Spouse,Handlers-Cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
3,28,Private,338409,Bachelors,13,Married-Civ-Spouse,Prof-Specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
4,37,Private,284582,Masters,14,Married-Civ-Spouse,Exec-Managerial,Wife,White,Female,0,0,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32555,27,Private,257302,Assoc-Acdm,12,Married-Civ-Spouse,Tech-Support,Wife,White,Female,0,0,38,United-States,<=50K
32556,40,Private,154374,Hs-Grad,9,Married-Civ-Spouse,Machine-Op-Inspct,Husband,White,Male,0,0,40,United-States,>50K
32557,58,Private,151910,Hs-Grad,9,Widowed,Adm-Clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32558,22,Private,201490,Hs-Grad,9,Never-Married,Adm-Clerical,Own-Child,White,Male,0,0,20,United-States,<=50K
32559,52,Self-Emp-Inc,287927,Hs-Grad,9,Married-Civ-Spouse,Exec-Managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [99]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32560 entries, 0 to 32559
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32560 non-null  int64
 1   workclass       32560 non-null  object
 2   fnlwgt          32560 non-null  int64
 3   education       32560 non-null  object
 4   education_num   32560 non-null  int64
 5   marital_status  32560 non-null  object
 6   occupation      32560 non-null  object
 7   relationship    32560 non-null  object
 8   race            32560 non-null  object
 9   sex             32560 non-null  object
 10  capital_gain    32560 non-null  int64
 11  capital_loss    32560 non-null  int64
 12  hours_per_week  32560 non-null  int64
 13  native_country  32560 non-null  object
 14  income          32560 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

 How many people earn more than $50K?

In [100]:
df['income'].value_counts()

income
<=50K    24719
>50K      7841
Name: count, dtype: int64

Now,
.strip(): Removes leading and trailing whitespace from each string.

Example: ' Female ' â†’ 'Female'

.title(): Converts the string to title case:

First letter of each word capitalized.

Example: 'female' â†’ 'Female', 'mALE' â†’ 'Male'

What is the average age of women?

In [101]:
df[df['sex'] == 'Female']['age'].mean()

36.85823043357163

In [102]:
df['sex'].unique()

array(['Male', 'Female'], dtype=object)

In [103]:
df['age'].unique()

array([50, 38, 53, 28, 37, 49, 52, 31, 42, 30, 23, 32, 40, 34, 25, 43, 54,
       35, 59, 56, 19, 39, 20, 45, 22, 48, 21, 24, 57, 44, 41, 29, 18, 47,
       46, 36, 79, 27, 67, 33, 76, 17, 55, 61, 70, 64, 71, 68, 66, 51, 58,
       26, 60, 90, 75, 65, 77, 62, 63, 80, 72, 74, 69, 73, 81, 78, 88, 82,
       83, 84, 85, 86, 87], dtype=int64)

What is the average age of men?

In [104]:
df[df['sex'] == 'Male']['age'].mean()

39.433567396392675

How many people of each race are represented in this dataset? This should be a Pandas series with race names as the index labels. (race column)

In [105]:
df['race'].unique()

array(['White', 'Black', 'Asian-Pac-Islander', 'Amer-Indian-Eskimo',
       'Other'], dtype=object)

In [106]:
df['race'].value_counts()

race
White                 27815
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: count, dtype: int64

What is the percentage of people who have a Bachelor's degree?

In [107]:
df['education'].unique()

array(['Bachelors', 'Hs-Grad', '11Th', 'Masters', '9Th', 'Some-College',
       'Assoc-Acdm', 'Assoc-Voc', '7Th-8Th', 'Doctorate', 'Prof-School',
       '5Th-6Th', '10Th', '1St-4Th', 'Preschool', '12Th'], dtype=object)

In [108]:
(df['education'] == 'Bachelors').mean()*100

16.443488943488944

What percentage of people with advanced education (Bachelors, Masters, or Doctorate) make more than 50K?

In [109]:
df['education'].unique()

array(['Bachelors', 'Hs-Grad', '11Th', 'Masters', '9Th', 'Some-College',
       'Assoc-Acdm', 'Assoc-Voc', '7Th-8Th', 'Doctorate', 'Prof-School',
       '5Th-6Th', '10Th', '1St-4Th', 'Preschool', '12Th'], dtype=object)

In [110]:
advanced_education = ['Bachelors', 'Masters', 'Doctorate']

adv_edu_df = df[df['education'].isin(advanced_education)]

total_adv_edu = len(adv_edu_df)

high_income_adv_edu = len(adv_edu_df[adv_edu_df['income'] == '>50K'])

percentage = (high_income_adv_edu / total_adv_edu) * 100

print(f"Percentage of people with advanced education earning >50K: {percentage:.2f}%")

Percentage of people with advanced education earning >50K: 46.54%

What percentage of people without advanced education make more than 50K?

In [111]:
df['income'].unique()

array(['<=50K', '>50K'], dtype=object)

In [112]:
without_adv_edu = [
    'Hs-Grad', '11Th', '9Th', 'Some-College',
    'Assoc-Acdm', 'Assoc-Voc', '7Th-8Th', 'Prof-School',
    '5Th-6Th', '10Th', '1St-4Th', 'Preschool', '12Th'
]

without_adv_edu_df = df[df['education'].isin(without_adv_edu)]

total_without_adv_edu = len(without_adv_edu_df)

highincome_without_adv_edu = len(without_adv_edu_df[without_adv_edu_df['income'] == '>50K'])

percentage = (highincome_without_adv_edu / total_without_adv_edu) * 100
print(f"Percentage of people without advanced education making more than 50K: {percentage:.2f}%")

Percentage of people without advanced education making more than 50K: 17.37%

What is the minimum number of hours a person works per week?

In [113]:
df['hours_per_week'].unique()

array([13, 40, 16, 45, 50, 80, 30, 35, 60, 20, 52, 44, 15, 25, 38, 43, 55,
       48, 58, 32, 70,  2, 22, 56, 41, 28, 36, 24, 46, 42, 12, 65,  1, 10,
       34, 75, 98, 33, 54,  8,  6, 64, 19, 18, 72,  5,  9, 47, 37, 21, 26,
       14,  4, 59,  7, 99, 53, 39, 62, 57, 78, 90, 66, 11, 49, 84,  3, 17,
       68, 27, 85, 31, 51, 77, 63, 23, 87, 88, 73, 89, 97, 94, 29, 96, 67,
       82, 86, 91, 81, 76, 92, 61, 74, 95], dtype=int64)

In [114]:
df['hours_per_week'].min()

1

What percentage of the people who work the minimum number of hours per week have a salary of more than 50K?

In [115]:
min_hours = df['hours_per_week'].min()
print(min_hours)

1

In [116]:
# 1. Find the minimum hours per week
min_hours = df['hours_per_week'].min()

# 2. Filter people who work those minimum hours
min_workers = df[df['hours_per_week'] == min_hours]

# 3. From them, count how many earn >50K
high_income_min_workers = len(min_workers[min_workers['income'] == '>50K'])

# 4. Total people who work min hours
total_min_workers = len(min_workers)

# 5. Calculate percentage
percentage = (high_income_min_workers / total_min_workers) * 100

print(f"Percentage of people working {min_hours} hours/week earning >50K: {percentage:.2f}%")

Percentage of people working 1 hours/week earning >50K: 10.00%

What country has the highest percentage of people that earn >50K and what is that percentage?

In [117]:
df['native_country'].unique()

array(['United-States', 'Cuba', 'Jamaica', 'India', '?', 'Mexico',
       'South', 'Puerto-Rico', 'Honduras', 'England', 'Canada', 'Germany',
       'Iran', 'Philippines', 'Italy', 'Poland', 'Columbia', 'Cambodia',
       'Thailand', 'Ecuador', 'Laos', 'Taiwan', 'Haiti', 'Portugal',
       'Dominican-Republic', 'El-Salvador', 'France', 'Guatemala',
       'China', 'Japan', 'Yugoslavia', 'Peru',
       'Outlying-Us(Guam-Usvi-Etc)', 'Scotland', 'Trinadad&Tobago',
       'Greece', 'Nicaragua', 'Vietnam', 'Hong', 'Ireland', 'Hungary',
       'Holand-Netherlands'], dtype=object)

In [118]:
df['native_country'].value_counts()

native_country
United-States                 29169
Mexico                          643
?                               583
Philippines                     198
Germany                         137
Canada                          121
Puerto-Rico                     114
El-Salvador                     106
India                           100
Cuba                             95
England                          90
Jamaica                          81
South                            80
China                            75
Italy                            73
Dominican-Republic               70
Vietnam                          67
Guatemala                        64
Japan                            62
Poland                           60
Columbia                         59
Taiwan                           51
Haiti                            44
Iran                             43
Portugal                         37
Nicaragua                        34
Peru                             31
France                           29
Greece                           29
Ecuador                          28
Ireland                          24
Hong                             20
Cambodia                         19
Trinadad&Tobago                  19
Laos                             18
Thailand                         18
Yugoslavia                       16
Outlying-Us(Guam-Usvi-Etc)       14
Honduras                         13
Hungary                          13
Scotland                         12
Holand-Netherlands                1
Name: count, dtype: int64

In [119]:
df['income'].unique()

array(['<=50K', '>50K'], dtype=object)

In [121]:


# Step 2: Calculate total people per country
total_per_country = df['native_country'].value_counts()

# Step 3: Calculate number of people earning >50K per country
rich_per_country = df[df['income'] == '>50K']['native_country'].value_counts()

# Step 4: Calculate percentage of >50K earners per country
rich_percentage = (rich_per_country / total_per_country) * 100

# Step 5: Find the country with the highest percentage
top_country = rich_percentage.idxmax()
top_percentage = rich_percentage.max()

print(f"{top_country} has the highest percentage of people earning >50K: {top_percentage:.2f}%")

Iran has the highest percentage of people earning >50K: 41.86%

Identify the most popular occupation for those who earn >50K in India.

In [122]:
india_rich = df[(df['native_country'] == 'India') & (df['income'] == '>50K')]

# Find the most common occupation
most_common_occupation = india_rich['occupation'].value_counts().idxmax()

print(f"The most popular occupation for those who earn >50K in India is: {most_common_occupation}")

The most popular occupation for those who earn >50K in India is: Prof-Specialty